{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <img src="{{asset('images/header.jpg')}}" class="img-fluid" alt="">
    </header>

    <div class="last-sport">
        {% for lastReportage in lastReportages %}
            <h2 class="text-center my-3">Dernier shooting {{ lastReportage.category.name }}</h2>
            <article class="border m-2 m-md-5 p-2 p-md-3">
                <h3>{{ lastReportage.title }}</h3>
                <div class="content">
                    <img src="{{ vich_uploader_asset(lastReportage, 'imageFile') }}" class="img-fluid" alt="image illustration du reportage photo">
                </div>
                <p class="metadata">Écrit le {{ lastReportage.createdAt | date('d/m/Y') }} catégorie <a href="{{ path('personnel', {'slug': lastReportage.category.name}) }}">{{ lastReportage.category.name }}<a/></p>
                <a href="{{ path('personnel_show', {'slug': lastReportage.category.name, 'id': lastReportage.id}) }}" class="btn btn-primary">Voir le reportage</a>
            </article>
        {% endfor %}
    </div>

{% endblock %}