{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur mon portfolio</h1>
    <div class="last-sport">
        {% for lastReportage in lastReportages %}
            <h2 class="my-3">dernier shooting {{ lastReportage.category.name }}</h2>
            <article class="border p-3">
                <div class="content">
                    <img src="{{ lastReportage.image }}" class="img-fluid"alt="image illustration du reportage photo">
                </div>
                <p class="metadata">Écrit le {{ lastReportage.createdAt | date('d/m/Y') }} catégorie <a href="{{ path('sport') }}">{{ lastReportage.category.name }}<a/></p>
                <a href="{{ path('personnel_show', {'slug': lastReportage.category.name, 'id': lastReportage.id}) }}" class="btn btn-primary">Voir le reportage</a>
            </article>
        {% endfor %}
    </div>

{% endblock %}