{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <img src="{{asset('images/header.jpg')}}" class="img-fluid" alt="">
    </header>

    <div class="container-fluid">
        <h1 class="text-center my-5">Derniers shootings</h1>
        <div class="row">
            {% for lastReportage in lastReportages %}
                <div class="last-sport col-md-4 mx-auto mb-3">
                    <article class="bordure-article p-2 p-md-3 card">
                        <img src="{{ vich_uploader_asset(lastReportage, 'imageFile') }}" class="img-fluid card-img-top w-100 d-block" alt="image illustration {{ lastReportage.title }}">
                        <div class="card-body">
                            <h3 class="card-title">{{ lastReportage.title }}</h3>
                            <p class="card-text">Écrit le {{ lastReportage.createdAt | date('d/m/Y') }} catégorie <a href="{{ path('personnel', {'slug': lastReportage.category.name}) }}">{{ lastReportage.category.name }}<a/></p>
                            <a href="{{ path('personnel_show', {'slug': lastReportage.category.name, 'id': lastReportage.id}) }}" class="btn btn-primary">Voir le reportage</a>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}