{% extends 'base.html.twig' %}
{% block title %}Liste shooting  {{ name }}{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Shootings {{ name }}</h1>
    <section class="reportages">
        <div class="album py-5">
            <div class="container">
                <div class="row">
                    {% for reportage in pagination %}
                        <div class="col-sm-6 col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class=" img-fluid" src="{{ vich_uploader_asset(reportage, 'imageFile') }}" alt="{{ reportage.title }}">
                                <div class="card-body">
                                    <p>Écrit le {{ reportage.createdAt | date('d/m/Y') }}</p>
                                    <h3>{{ reportage.title }}</h3>
                                    <p class="card-text">{{ reportage.content | slice(0, 50) ~  ' ....'}}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <a href="#" role="button" class="btn btn-primary">Voir le reportage</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}