{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>{{ reportage.title }}</h2>
        <div class="metadata">Écrit le{{ reportage.createdAt | date('d/m/Y') }} à {{ reportage.createdAt | date('H:i') }}</div>
        <div class="content">
            <img src="{{ reportage.image }}" alt="image illustration du reportage photo">
            <p>{{ reportage.content }}</p>
        </div>
    </article>
{% endblock %}