{% extends 'base.html.twig' %}

{% block title %}Shooting - {{ reportage.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('js/owlcarousel/dist/assets/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('js/owlcarousel/dist/assets/owl.theme.default.min.css') }}">
{% endblock %}

{% block body %}
    <article class="m-2 m-md-4 p-2 p-md-3 text-center">
        <h2>{{ reportage.title }}</h2>
        <div class="metadata mb-3">Écrit le {{ reportage.createdAt | date('d/m/Y') }} à {{ reportage.createdAt | date('H:i') }}</div>
        <div class="content">
            <img src="{{ vich_uploader_asset(reportage, 'imageFile') }}" class="img-fluid" alt="image illustration {{ reportage.title }}">
            <p class="my-5">{{ reportage.content }}</p>
            <div class="owl-carousel mt-5">
                <div class="bordure">
                    <img src="{{ vich_uploader_asset(reportage, 'carouselFile1') }}" alt="image {{ reportage.title }}">
                </div>
                <div class="bordure">
                    <img src="{{ vich_uploader_asset(reportage, 'carouselFile2') }}" alt="image {{ reportage.title }}">
                </div>
                <div class="bordure">
                    <img src="{{ vich_uploader_asset(reportage, 'carouselFile3') }}" alt="image {{ reportage.title }}">
                </div>
            </div>
        </div>
    </article>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/owlcarousel/dist/owl.carousel.min.js') }}"></script>
{% endblock %}