{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shooting sportif</h1>
    <section class="reportages">
        {% for sport in sports %}
            <article class="border my-4">
                <h2>{{ sport.title }}</h2>
                <div class="metadata">Écrit le {{ sport.createdAt | date('d/m/Y') }} à {{ sport.createdAt | date('H:i') }}</div>
                <div class="content">
                    <p><img src="{{ sport.image }}" class="img-fluid"alt="images de présentation des reportages"></p>
                    <a href="{{ path('sport_show', {'id': sport.id}) }}" class="btn btn-primary">Voir le reportage</a>
                </div>
            </article>
        {% endfor %}
</section>
{% endblock %}