{% extends 'base.html.twig' %}
{% form_theme formReportage 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1 class="text-center">Création d'un reportage</h1>

    {{ form_start(formReportage) }}

        {{ form_row(formReportage.title, {'attr': {'placeholder': "Titre du reportage"}}) }}
        {{ form_row(formReportage.content, {'label': 'Contenu'}, {'attr': {'placeholder': "Contenu du reportage"}}) }}
        {{ form_row(formReportage.image, {'attr': {'placeholder': "URL de l'image"}}) }}
        {{ form_row(formReportage.category, {'label': 'Catégorie'}, {'attr': {'placeholder': "Catégorie du reportage"}}) }}
        <button type="submit" class="btn btn-primary mr-3">Ajouter le reportage</button>
        <a href="{{ path('admin') }}" class="btn btn-primary">Retour</a>

    {{ form_end(formReportage) }}

{% endblock%}