{% extends 'base.html.twig' %}
{% form_theme formReportage 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1 class="text-center">Modifications reportage</h1>

    {{ form_start(formReportage) }}

        {{ form_row(formReportage.title, {'attr': {'placeholder': "Titre du reportage"}}) }}
        {{ form_row(formReportage.content, {'label': 'Contenu'}, {'attr': {'placeholder': "Contenu du reportage"}}) }}
        {{ form_row(formReportage.image, {'attr': {'placeholder': "URL de l'image"}}) }}
        {{ form_row(formReportage.category) }}
        <button type="submit" class="btn btn-primary">Modifier</button>
        <a href="{{ path('reportage_list') }}" class="btn btn-primary">Retour</a>

    {{ form_end(formReportage) }}

{% endblock%}